/************
*	Common
************/

body, html {
	padding : 0;
	margin : 0;
	height : 100%;
	width : 100%;
}

tr, td, table {
	padding : 0px;
	margin : 0px;
}

.padding-bottom-text{
	padding-bottom:1%;
}

.content{
	height : 100%;
	width : 100%;
	background-color:#EEEEEE;
	padding-top:5%
}

.padding-top-90{
	padding-top:90%;
}

.margin-top-15{
	margin-top:15%;
}

.padding-top-2{
	padding-top:5%;
}

.startGame{
	margin-left:35%;
}

.home{
	margin-left:40%;
}

.back{
	float:left;
	margin-left:2%;
}

.assistance-button{
	float:right;
	margin-right:2%;
	text-align: center;
}

#teams {
	border : none;
	height : 100%;
	width : 100%;
}

.team-panel {
	height : 90%;
	width : 40%;
}

.card {
	position : relative;
	box-shadow : 0 4px 8px rgba(0,0,0,0.4);
	border-radius : 4px;
	height : 18%;
	width : 94%;
	margin-top : 5%;
	margin-bottom: 5%;
	margin-left : auto;
	margin-right: auto;
	background-color: #FAFAFA;
	overflow : hidden;
}

.card .img-content {
	height : 100%;
	width : 80%;
	overflow: hidden;
}

.card .lane-content .lane-icon {
	width : 80%;
	margin : auto;
	margin-top : 30%;
}

.card .lane-content .lane-icon img{
	max-height : 4vh;
}

.card .lane-content .lane-name p{
	margin-top : 0.3em;
	font-size: 2vh;
	line-height: 1em;
}

.card .lane-content {
	width : 20%;
	height : 100%;
	background-color : #606060;
	color : #FAFAFA;
	text-align: center;
	vertical-align: center;
	line-height:100%;
}

.card .lane-content span {
	vertical-align: center;
}

.card .img-content img {
	display: block;
	margin : auto;
	height : 100%;
	width : 100%; 
}


/************
*	Ally
************/

#ally-panel {
	float: left;
}

#ally-panel .card .img-content {
	float : left;
}

#ally-panel .card .lane-content {
	float : right;
}

/************
*	Ennemy
************/

#enemy-panel {
	float : right;
}

#enemy-panel .card .img-content {
	float : right;
}

#enemy-panel .card .lane-content {
	float : left;
}


