<div class="content" ng-controller="listChampController">
	<div id="switchon">
		<span>Activate assistance</span>
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
		    <label class="onoffswitch-label" for="myonoffswitch">
		        <span class="onoffswitch-inner">
		            <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
		            <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
		        </span>
		    </label>
		</div>


	</div>
</div>