<div class="content" ng-controller="aboutController">
	<div class="list card">
	  	<a href="index.html/about" class="item item-icon-left">
    	<i class="icon ion-person-stalker"></i>
    		Qui sommes-nous ?
    		<span class="item-note">
      			Cette application a été réalisée <br />dans le cadre de l'UV API12 à <br />
      			l'Université de Technologie de <br /> Compiègne par les étudiants:
      			<br /><br />
      			Rachid Adoul <br/>
      			Maxime Le Goc <br />
      			Bruno Da Silva <br/>
      			Maxime Didier
    		</span>
  		</a>
  		<a href="index.html/about" class="item item-icon-left">
    	<i class="icon ion-home"></i>
    		L'UTC
    		<span class="item-note">
    			15 Rue Roger Couttolenc, <br/> 60200 Compiègne <br/>
				03 44 23 44 23
    		</span>
  		</a>
  		<a href="index.html/about" class="item item-icon-left">
    	<i class="icon ion-email"></i>
			Contactez-nous !
    		<span class="item-note">
      		 	LolSmartPick.support@gmail.fr
      		</span>
  		</a>
	</div>
</div>