<ion-content>
<div class="content" ng-controller="allChampsController">
	<div class="padding-top-2">
		<div class="back">
			<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backToPick()">Back</a>
		</div>
		<div class="assistance-button">
			Pick Assistance
			<label class="toggle">
		   		<input type="checkbox" ng-model="toogle" ng-change="toogleView()" toggle-class="toggle-calm">
		   		<div class="track">
		     		<div class="handle"></div>
		   		</div>
			</label>
		</div>
	</div>
	<br/><br/><br/>
	<div class="list list-inset">
	  	<label class="item item-input">
	    	<i class="icon ion-search placeholder-icon"></i>
	    	<input type="text" placeholder="Search" ng-model="query">
	  	</label>
	</div>
	<div class="card champCard" ng-repeat="champ in champs | filter:{name:query, use:false}" ng-click="selectChamp(champ)">
		<div class="item item-body champBody">
			<img class="full-image" src="img/icons/{{champ.image}}">
			<p>{{champ.name}}</p>
	  	</div>
	</div>
</div>
</ion-content>