<div class="content" ng-controller="assistanceController">

	<div class="padding-top-2">
	<div class="back">
		<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backToPick()">Back</a>
	</div>
	<div class="assistance-button">
	Pick Assistance
	<label class="toggle">
   		<input type="checkbox" ng-checked="true" ng-model="toogle" ng-change="toogleView()" toggle-class="toggle-calm"/>
   		<div class="track">
     		<div class="handle"></div>
   		</div>
	</label>
	</div>
	<div class="list margin-top-15">
    	<a class="item item-thumbnail-left" href="#" ng-repeat="champ in champs">
      		<img src="img/icons/{{champ.image}}" />
      		<h2>{{champ.hero}}</h2>
      		<p>Description</p>
    	</a>
	</div>
	</div>
	
</div>