<div class="content" ng-controller="assistanceController">
	<div class="list">
    	<a class="item item-thumbnail-left" href="#">
      		<img src="img/icons/AnnieSquare.jpg">
      		<h2>Annie</h2>
      		<p>Description</p>
    	</a>
    	<a class="item item-thumbnail-left" href="#">
      		<img src="img/icons/AnnieSquare.jpg">
      		<h2>Annie</h2>
      		<p>Description</p>
    	</a>
    	<a class="item item-thumbnail-left" href="#">
      		<img src="img/icons/AnnieSquare.jpg">
      		<h2>Annie</h2>
      		<p>Description</p>
    	</a>
    	<a class="item item-thumbnail-left" href="#">
      		<img src="img/icons/AnnieSquare.jpg">
      		<h2>Annie</h2>
      		<p>Description</p>
    	</a>
    	<a class="item item-thumbnail-left" href="#">
      		<img src="img/icons/AnnieSquare.jpg">
      		<h2>Annie</h2>
      		<p>Description</p>
    	</a>
    	<a class="item item-thumbnail-left" href="#">
      		<img src="img/icons/AnnieSquare.jpg">
      		<h2>Annie</h2>
      		<p>Description</p>
    	</a>
	</div>
	<button class="button home ion-home">Home</button>
</div>