<div class="content" ng-controller="pickController">
    <div class="team-panel" id="ally-panel">
        <div class="card" ng-repeat="ally in allies">
            <div class="img-content" ng-click="selectChamp(ally)">
                <img ng-src="{{ally.img}}"/>
            </div>
            <div class="lane-content" ng-click="changePoste(alliesPoste,ally)">
                <div class="lane-icon">
                    <img src="img/right.svg">
                </div>
                <div class="lane-name" ng-bind-html="trulyTrustHTML(ally.poste)"></div>
            </div>
        </div>
    </div>

    <div class="team-panel" id="enemy-panel">
        <div class="card" ng-repeat="ennemy in ennemies">
            <div class="img-content">
                <img src="{{ennemy.img}}" alt="{{ennemy.hero}}"/>
            </div>
            <div class="lane-content" ng-click="changePoste(ennemiesPoste,ennemy)">
                <div class="lane-icon">
                    <img src="img/left.svg">
                </div>
                <div class="lane-name" ng-bind-html="trulyTrustHTML(ennemy.poste)"></div>
            </div>
        </div>
    </div>
    
    <div class="startGame">
    	<a class="button icon-right ion-chevron-right button-dark" ng-click="startGame()">Start Game</a>
    </div>
</div>