<div class="content" ng-controller="welcomeController">
  	<div class="buttons">
  	<div id="wrapper" style="width:100%; text-align:center;margin-bottom:10%;">
		<img src="img/icon_big.png" alt="LSP" height="120" width="135"/>
	</div>
  	<button class="button button-block button-dark" ng-click="goToPickAssistance()">
  		Pick Assistance
	</button>
  	<button class="button button-block button-dark">
  		In Game Assistance
	</button>
  	<button class="button button-block button-dark" ng-click="goToParameters()">
  		Preferences
	</button>
  	<button class="button button-block button-dark" ng-click="goToAboutUs()">
  		About us
	</button>
	</div>
</div>