<div class="content" ng-controller="welcomeController">
	<div class="margin-bottom-5">
		<img src="img/icon_big.png" alt="LSP" height="120" width="135" class="icon_welcome" />
	</div> 
  	<div id="buttons">
  	<button class="button button-block button-dark" ng-click="goToPickAssistance()">
  		Pick Assistance
	</button>
  	<button class="button button-block button-dark">
  		In Game Assistance
	</button>
  	<button class="button button-block button-dark">
  		Preferences
	</button>
  	<button class="button button-block button-dark" ng-click="goToAboutUs()">
  		About us
	</button>
	</div>
</div>