<div class="content" ng-controller="welcomeController">
	<div class="bar bar-header bar-light">
  		<h1 class="title">LolSmartPick</h1>
	</div>
  	<div id="buttons" class="padding-top-90">
  	<button class="button button-block button-dark" ng-click="goToPickAssistance()">
  		Pick Assistance
	</button>
  	<button class="button button-block button-dark">
  		In Game Assistance
	</button>
  	<button class="button button-block button-dark">
  		Preferences
	</button>
  	<button class="button button-block button-dark">
  		About us
	</button>
	</div>
</div>